[submodule "core-api"]
	path = core-api
	url = https://github.com/raprap111111111111/ipam-core-api.git
[submodule "core-web"]
	path = dashboard
	url = https://github.com/raprap111111111111/ipam-core-web.git
